<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ark_Notes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Ark_Notes.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Ark_Notes.My.MySettings>
            <setting name="NotesDBConnectionString" serializeAs="String">
                <value>Provider=Microsoft.ACE.OLEDB.12.0; Data Source=%appdata%/ArkNotes/NotesDB.accdb; Persist Security Info=False;</value>
            </setting>
            <setting name="firstsetup" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MapImageLocation" serializeAs="String">
                <value>https://hydra-media.cursecdn.com/ark.gamepedia.com/thumb/e/eb/MAP_BC.png/600px-MAP_BC.png</value>
            </setting>
            <setting name="DBType" serializeAs="String">
                <value>OLEDB</value>
            </setting>
        </Ark_Notes.My.MySettings>
    </userSettings>
    <applicationSettings>
        <Ark_Notes.My.MySettings>
            <setting name="VersionNum" serializeAs="String">
                <value>0.4.3</value>
            </setting>
        </Ark_Notes.My.MySettings>
    </applicationSettings>
</configuration>
